/* Remove any margin and padding, and set the standard text colour and font */
html, body, .main-wrapper {
	padding: 0;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}
.main-wrapper * {
	font-family: "Bungee Shade";
}
p {
	color: #FFF;
	font: 24px Verdana;
	margin: 20px;
	line-height: 36px;
}
#status {
	font-size: 20px;
	margin-top: 50px;
}

/* Set styling for the role that the user has */
.role {
	position: absolute;
	top: 450px;
	left: 20px;
}
.role::after {
	content: 'Good luck!';
	background: -webkit-linear-gradient(0deg, 
		#F00, #FF970A, #FFED00, #00F, #0F0, #B432FF, #FF24EF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: absolute;
	top: 40px;
	left: 0;
}

/* Animation for random code, as we have not guessed it correctly  yet*/ 
@keyframes random-colour {
	
	0%   { background: #F00; }
	9%   { background: #F00; }
	10%  { background: #00F; }
	19%  { background: #00F; }
	20%  { background: #00E0E0; }
	29%  { background: #00E0E0; }
	30%  { background: #FF970A; }
	39%  { background: #FF970A; }
	40%  { background: #0F0; }
	49%  { background: #0F0; }
	50%  { background: #FF24EF; }
	59%  { background: #FF24EF; }
	60%  { background: #FF970A; }
	69%  { background: #FF970A; }
	70%  { background: #F00; }
	79%  { background: #F00; }
	80%  { background: #B432FF; }
	89%  { background: #B432FF; }
	90%  { background: #FFED00; }
	100% { background: #FFED00; }

}

/* Set the animation on the hidden code */
.hidden-code-row .code-circle {
	animation: random-colour 2s infinite;
}
.hidden-code-row .code-circle:nth-of-type(2) {
	animation-delay: -0.75s;
}
.hidden-code-row .code-circle:nth-of-type(3) {
	animation-delay: -1.77s;
}
.hidden-code-row .code-circle:nth-of-type(4) {
	animation-delay: -0.32s;
}




/* Set background */
.main-wrapper {
	background: linear-gradient(90deg, 
					#000 0vw, 
					#333 20vw, 
					#888 33vw, 
					#888 67vw, 
					#333 80vw, 
					#000 100vw);
	width: 100vw;
	height: 100vh;
}

/* Set asides widths */
aside, main {
	width: 33vw;
	height: 100vh;
	float: left;
}
/* Set width, and design borders */
main {
	display: grid;
	width: 34vw;
	border: #F00 solid;
	border-width: 0 2px;
	box-sizing: border-box;
	box-shadow: 0 0 20px 5px #F00;
}

/* Set text alignment for righthand side */
.right-side p {
	text-align: right;
}




/* Styling for the main rows */
.row {
	width: 100%;
	height: 8.3333333vh;
	padding-left: 12.5%;
	box-sizing: border-box;
}

/* Styling for circle and basics of result circle */
.code-circle, .result-circle, .code-circle-disabled {
	float: left;
	margin: 1.333333vh 5px;
	width: 6vh;
	height: 6vh;
	border-radius: 100%;
	box-sizing: border-box;
	border: 1px solid;
}

/* Override previous styling for result circle */
.result-circle {
	width: 3vh;
	height: 3vh;
	margin: 2.8vh 2px;
	border-color: #0F0;
}

/* Different background for input row and code row */
.hidden-code-row, .color-input-row, .redwhite-input-row {
	background: #444;
}
/* Set border colour and shadow for the circles in code row */
.hidden-code-row .code-circle {
	border-color: #FFF;
	box-shadow: 0 0 6px 1px #FFF;
}
/* Set delete and send checks button style */
#remove-last, #send-checks {
	animation: none;
	text-align: center;
	font-size: 32px;
	color: #FFF;
	line-height: 40px;
	margin-left: 69px;
	box-shadow: 0 0 6px 1px #FFF,
		  inset 0 0 6px 1px #FFF;
}


/* Remove padding from input row */
.color-input-row {
	padding: 0;
}

/* Set hover effect for the clickable elements */
.color-input-row .code-circle, .redwhite-input-row .code-circle {
	opacity: 0.6;
	transition: 0.3s opacity;
}
.color-input-row .code-circle:hover, .redwhite-input-row .code-circle:hover {
	opacity: 1;
}
.color-input-row .code-circle:active, .redwhite-input-row .code-circle:active {
	border: 2px solid black;
}

/* Set redwhite input row to invisible as default (as we only need this as the code maker) */
.redwhite-input-row {
	display: none;
}












/* Set circle backgrounds */
.white-circle {
	background: #FFF !important;
	border-color: #000;
}
.red-circle {
	background: #F00 !important;
	border-color: #000;
}
.orange-circle {
	background: #FF970A !important;
	border-color: #000;
}
.yellow-circle {
	background: #FFED00 !important;
	border-color: #000;
}
.green-circle {
	background: #0F0 !important;
	border-color: #000;
}
.cyan-circle {
	background: #00E0E0 !important;
	border-color: #000;
}
.blue-circle {
	background: #00F !important;
	border-color: #000;
}
.purple-circle {
	background: #B432FF !important;
	border-color: #000;
}
.pink-circle {
	background: #FF24EF !important;
	border-color: #000;
}


