html, body, .main-wrapper {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("file:///C:/Users/flore/Desktop/Web%201920%20%E2%80%93%201.png");
	height: 70%;
	width: 70%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
	color: #F4F3F3;
    font-family: 'Bungee Shade', cursive;
	font-size: 80px;
	text-align: center;
	margin-top: -50px; 
}

h1:hover {
	color: #FA2BDA;
}
.button {
	position: absolute;
	color: #C446F5;
	font-family: 'Bungee Shade', cursive;
	font-size: 50px;
	text-align: center;
	width: 100%;
	top: 550px;
}

.creators {
	color: #F4F3F3;
	font-family: 'Bungee Shade', cursive;
	font-size: 20px;
	text-align: center;
	margin-left: 1210px;
	margin-top: 50px;
}

.statistics {
	position: absolute;
	color: #F4F3F3;
	font-family: 'Bungee Shade', cursive;
	font-size: 20px;
	text-align: center;
	margin-left: 80px;
	top: 100px;
}

.howto {
	color: #F4F3F3;
	font-family: 'Bungee Shade', cursive;
	font-size: 20px;
	text-align: center;
	margin-left: 1222px;
	margin-top: 10px;
}

.more {
	color: #F4F3F3;
	font-family: 'Bungee Shade', cursive;
	font-size: 20px;
	text-align: center;
	margin-left: 1222px;
	margin-top: 10px;
}