@media screen and (max-width: 1350px) {
	.too-small-overlay {
		display: block !important;
	}
}

.too-small-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100vw;
	height: 100vh;
	background: #222;
	display: none;
}

.too-small-overlay h1 {
	color: #FFF;
	margin-left: 20%;
	margin-top: 10vh;
	width: 60%;
	font-size: 32px;
	line-height: 38px;
}


html, body {
	display: grid;
	grid-gap: 10px 10px;

}

body {
	background-image: url('../../public/images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}


div > a { 
	color:  #F4F3F3;
}

div > a:hover { 
	color: #FA2BDA;
}

div > a:active {
	color: #FA2BDA;
}

h1 {
	color: #F4F3F3;
    font-family: 'Bungee Shade', cursive;
	font-size: 75px;
	margin-left: 450px;
	margin-top: -70px;
}

h1:hover {
	color: #FA2BDA;
}

#play {
	color: #AB23E0;
	font-family: 'Bungee Shade', cursive;
	font-size: 50px;
	position: absolute;
	left: 685px;
	bottom: 155px;
}

#play:hover {
	color: #FA2BDA;
}

.creators {
	color: #F4F3F3 !important;
	font-family: 'Bungee Shade', cursive;
	font-size: 17px;
	position: absolute;
    bottom: 32px;
	right: 48px;
	grid-row: 3;
	grid-column: 3;
	text-align: center;
}


.howto {
	font-family: 'Bungee Shade', cursive;
	font-size: 20px;
	position: absolute;
	grid-column: 3;
	grid-row: 1;
	top: 128px;
	right: 90px;
	color: #F4F3F3;
}

.howto:hover {
	color: #FA2BDA;
}

@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
  
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.howto .popuptext {
	visibility: hidden;
	width: 900px;
	background-color: #111111;
	color: #F4F3F3;
	font-size: 23px;
	text-align: center;
	border-radius: 6px;
	text-align: center;
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
}

.howto .title {
	color: #AB23E0;
	font-size: 35px;
	text-align: center;
}

.howto .title:hover {
	color: #FA2BDA;
}


.more {
	font-family: 'Bungee Shade', cursive;
	font-size: 20px;
	position: absolute;
    bottom: 51px;
	left: 52px;
	grid-row: 3;
	grid-column: 1;
}


.vs {
	font-family: 'Bungee Shade', cursive;
	font-size: 15px;
	color: #C446F5;
	position: absolute;
	margin-left: 620px;
	bottom: 50px;
}

.vs::before {
	content: "Codemaker";
	color: #FA2BDA;
}

.vs::after {
	content: "Codebreaker";
	color: #FA2BDA;
}

.statistics {
	font-family: 'Bungee Shade', cursive;
	font-size: 20px;
	position: absolute;
    top: 128px;
	left: 85px;
	grid-row: 1;
	grid-column: 1;
	color: #F4F3F3;
}

.statistics:hover {
	color: #FA2BDA;
}

.statistics .popuptextFirst {
	visibility: hidden;
	width: 900px;
	background-color: #111111;
	color: #F4F3F3;
	font-size: 23px;
	text-align: center;
	border-radius: 6px;
	text-align: center;
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
}

.statistics .titleFirst {
	color: #ab23e0;
	font-size: 35px;
	text-align: center;
}

.statistics .titleFirst:hover {
	color: #FA2BDA;
}

#id1 {
	color: #F4F3F3;
}

#id2 {
	color: #F4F3F3;
}

#id3 {
	color: #F4F3F3;
}

#id4 {
	color: #F4F3F3;
}


@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
  
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.stats-popup {
	position: absolute;
	top: 45px;
	right: 70px;
	visibility: none;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

.close-btn {
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	color: #000;
	line-height: 50px;
	background: #FFF;
	border: #AB23E0 solid 10px;
	border-radius: 50%;
}


.stats-popup.active {
	visibility: visible;
}
.stats-popup.active .close-btn {
	display: block;
}

.statistics .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

.howto-popup {
	position: absolute;
	top: 45px;
	right: 70px;
	visibility: none;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}


.howto-popup.active {
	visibility: visible;
}
.howto-popup.active .close-btn {
	display: block;
}

.howto .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}