/* Fix overlay for screens that are too small */
@media screen and (max-width: 1350px) {
	.too-small-overlay {
		display: block !important;
	}
}

.too-small-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100vw;
	height: 100vh;
	background: #222;
	display: none;
}

.too-small-overlay h1 {
	color: #FFF;
	margin-left: 20%;
	margin-top: 10vh;
	width: 60%;
	font-size: 32px;
	line-height: 38px;
}

/* Give the page grid layout */
html, body {
	display: grid;
	grid-gap: 10vw 10vh;
	width: 100vw;
	height: 100vh;

}

/* Set background image and make it fit the screen perfectly */
body {
	background-image: url('../../public/images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	background-attachment: fixed;
	background-position: center;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

/* All references to other pages are written in white */
div > a { 
	color:  #F4F3F3;
}

/* Going over them makes them pink */
div > a:hover { 
	color: #FA2BDA;
}

/* Clicking a link makes it pink */
div > a:active {
	color: #FA2BDA;
}

/* Style the title */
h1 {
	color: #F4F3F3;
	font-family: 'Bungee Shade', cursive;
	position: absolute;
	font-size: 75px;
	margin-left: 29vw;
	margin-top: -9vh;
}

/* Going over the title makes it pink */
h1:hover {
	color: #FA2BDA;
}

/* Styling of the PLAY button */
#play {
	color: #AB23E0;
	font-family: 'Bungee Shade', cursive;
	font-size: 50px;
	position: absolute;
	left: 44vw;
	bottom: 21vh;
}

/* Going over the PLAY button makes it pink */ 
#play:hover {
	color: #FA2BDA;
}

/* Styling of the creators' names */
.creators {
	color: #F4F3F3 !important;
	font-family: 'Bungee Shade', cursive;
	font-size: 17px;
	position: absolute;
    bottom: 5.3vh;
	right: 4vw;
	grid-row: 3;
	grid-column: 3;
	text-align: center;
}

/* Styling of the HOW TO PLAY button */
.howto {
	font-family: 'Bungee Shade', cursive;
	font-size: 20px;
	position: absolute;
	grid-column: 3;
	grid-row: 1;
	top: 16vh;
	right: 6.5vw;
	color: #F4F3F3;
}

/* Going over the HOW TO PLAY button makes it pink */ 
.howto:hover {
	color: #FA2BDA;
}

/* Animation for gradually fading */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

/* Animation */
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

/* Styling of the pop-up containing the rules of the game */
.howto .popuptext {
	visibility: hidden;
	width: 900px;
	background-color: #111111;
	color: #F4F3F3;
	border-radius: 6px;
	position: fixed;
	z-index: 1; 
	left: 0;
	top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
}

/* Styling the title of the pop-up */
.howto .title {
	color: #AB23E0;
	font-size: 40px;
	line-height: 50px;
	padding: 10px 50px;
	text-align: center;
	box-sizing: border-box;
}

/* Styling of the text in the pop-up*/
.howto .text {
	font-size: 22px;
	line-height: 28px;
	padding: 10px 50px;
	text-align: center;
	box-sizing: border-box;
}

/* Going over the title in the pop-up makes it pink */
.howto .title:hover {
	color: #FA2BDA;
}

/* Styling of the MORE GAMES button */
.more {
	font-family: 'Bungee Shade', cursive;
	font-size: 20px;
	position: absolute;
	bottom: 8vh;
	left: 3vw;
	grid-row: 3;
	grid-column: 1;
}

/* Styling of CODEMAKER VS CODEBREAKER */
.vs {
	font-family: 'Bungee Shade', cursive;
	font-size: 15px;
	color: #C446F5;
	position: absolute;
	bottom: 8vh;
	left: 40.5vw;
}

/* Adding content before */
.vs::before {
	content: "Codemaker";
	color: #FA2BDA;
}

/* Adding content after */
.vs::after {
	content: "Codebreaker";
	color: #FA2BDA;
}

/* Styling of the STATISTICS button */
.statistics {
	font-family: 'Bungee Shade', cursive;
	font-size: 20px;
	position: absolute;
    top: 16vh;
	left: 5.3vw;
	grid-row: 1;
	grid-column: 1;
	color: #F4F3F3;
}

/* Going of the STATISTICS button makes it pink */
.statistics:hover {
	color: #FA2BDA;
}

/* Styling of the pop-up with the statistics */
.statistics .popuptextFirst {
	visibility: hidden;
	width: 900px;
	background-color: #111111;
	color: #F4F3F3;
	font-size: 23px;
	text-align: center;
	border-radius: 6px;
	text-align: center;
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
}

/* Styling of the title in the pop-up */
.statistics .titleFirst {
	color: #ab23e0;
	font-size: 35px;
	text-align: center;
}

/* Going over the title in the pop-up makes it pink */
.statistics .titleFirst:hover {
	color: #FA2BDA;
}

/* Color of the statistics */
#id1 {
	color: #F4F3F3;
}

#id2 {
	color: #F4F3F3;
}

#id3 {
	color: #F4F3F3;
}

#id4 {
	color: #F4F3F3;
}

/* Animation for gradually fading */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

/* Animation */
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

/* Styling of the STATISTICS pop-up */
.stats-popup {
	position: absolute;
	top: 45px;
	right: 70px;
	visibility: none;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Styling of the close button in the pop-ups */
.close-btn {
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	color: #000;
	line-height: 50px;
	background: #FFF;
	border: #AB23E0 solid 10px;
	border-radius: 50%;
	text-align: center;
}

/* Make the pop-up visibile */
.stats-popup.active {
	visibility: visible;
}

/* Display the close button in the pop-up */
.stats-popup.active .close-btn {
	display: block;
}

/* Show the pop-up */
.statistics .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Styling of the HOW TO pop-up */
.howto-popup {
	position: absolute;
	top: 45px;
	right: 70px;
	visibility: none;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Make the pop-up visible */
.howto-popup.active {
	visibility: visible;
}

/* Display the close button in the pop-up */
.howto-popup.active .close-btn {
	display: block;
}

/* Show the pop-up */
.howto .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}