html, body {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("file:///C:/Users/flore/Desktop/Web%201920%20%E2%80%93%201.png");
	height: 80%;
	width: 80%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div > a { 
	color:  #F4F3F3;
}

div > a:active {
	color: #FA2BDA;
}

h1 {
	color: #F4F3F3;
    font-family: 'Bungee Shade', cursive;
	font-size: 80px;
	margin-left: 480px;
	margin-top: -50px;
}

h1:hover {
	color: #FA2BDA;
}

.button {
	color: #C446F5;
	font-family: 'Bungee Shade', cursive;
	font-size: 50px;
	margin-top: 400px;
	margin-left: 720px;
}

.creators {
	color: #F4F3F3;
	font-family: 'Bungee Shade', cursive;
	font-size: 17px;
	position: absolute;
    bottom: 30px;
	right: 57px;
	text-align: center;
}

.statistics {
	font-family: 'Bungee Shade', cursive;
	font-size: 20px;
	position: absolute;
    top: 200px;
    left: 109px;
}

.howto {
	font-family: 'Bungee Shade', cursive;
	font-size: 20px;
	position: absolute;
    top: 200px;
    right: 100px;
}

.more {
	font-family: 'Bungee Shade', cursive;
	font-size: 20px;
	position: absolute;
    bottom: 60px;
    left: 70px;
}


.vs {
	font-family: 'Bungee Shade', cursive;
	font-size: 15px;
	color: #C446F5;
	position: absolute;
	margin-left: 670px;
	bottom: 100px;
}

.vs::before {
	content: "Codemaker";
	color: #FA2BDA;
}

.vs::after {
	content: "Codebreaker";
	color: #FA2BDA;
}
